@import "header.css";
@import "article.css";
@import "footer.css";
@import "syntax.css";

body {
    text-align: center;
    font-family: "Open Sans", "Nimbus Sans L", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 140%;
    background: #eee;
}

#main {
    position: relative;
    margin: 0 auto;
    text-align: left;
    max-width: 850px;
    background: #fff;
    padding: 25px 50px;
}

@media (max-width: 950px) {
    body {
        margin: 0;
        font-size: 14px;
    }

    #main {
        padding: 10px;
    }
}

a {
    color: #1564ca;
    text-decoration: none;
}

a img {
    border: none;
}

h1,h2 {
}
