header nav {
    font-size: 120%;
    font-weight: 600;
    margin-top: 0.7em;
    margin-bottom: 0.7em;
    border-bottom: 7px solid #eee;
    line-height: 150%;
    display: flex;
    flex-wrap: wrap;
}

@media (min-width: 950px) {
    header nav {
        padding-top: 0.6em;
        padding-bottom: 0.6em;
    }

    header nav > span:before {
        content: "·";
        color: #555;
        font-weight: normal;
        margin-left: 0.6em;
        margin-right: 0.6em;
    }

    header nav > span:first-child:before {
        content: "";
        margin-left: 0;
        margin-right: 0;
    }

    header nav .github {
        flex-grow: 1;
        text-align: right;
    }
}

@media (max-width: 950px) {
    header nav {
        margin: 0 -0.3em;
    }

    header nav > span,
    header nav > .github {
        margin: 0 0.3em;
    }
}

header hgroup {
    text-align: center;
    display: block;
    font-weight: bold;
    margin-top: 1.2em;
    margin-bottom: 1em;
}

header hgroup a {
    color: inherit;
    display: block;
}

header hgroup h1 {
    font-size: 220%;
    color: #222;
    margin-top: 0;
    margin-bottom: 0.6em;
}

header hgroup h2 {
    color: #656763;
    font-size: 130%;
    margin-top: 0;
    margin-bottom: 0;
}
