header hgroup {
    text-align: center;
    display: block;
    font-weight: bold;
    margin-top: 0.4em;
}

header hgroup a {
    color: inherit;
    display: block;
}

header hgroup h1 {
    font-size: 220%;
    color: #222;
    margin-top: 0;
    margin-bottom: 0.6em;
}

header hgroup h2 {
    color: #656763;
    font-size: 130%;
    margin-top: 0;
    margin-bottom: 0;
}

header nav {
    font-size: 120%;
    font-weight: 600;
    border-bottom: 7px solid #eee;
    line-height: 150%;
    text-align: center;
}

header nav > span {
    white-space: nowrap;
}

header nav .github img {
    vertical-align: middle;
    height: 1.4em;
}

@media (min-width: 950px) {
    header hgroup {
        margin-bottom: 0.6em;
    }

    header nav {
        padding-bottom: 0.6em;
    }

    header nav > span:before {
        content: "·";
        color: #555;
        font-weight: normal;
        margin-left: 0.2em;
        margin-right: 0.2em;
    }

    header nav > span:first-child:before {
        content: "";
        margin-left: 0;
        margin-right: 0;
    }
}

@media (max-width: 950px) {
    header hgroup {
        margin-bottom: 0.4em;
    }

    header nav {
        padding-bottom: 0.4em;
    }

    header nav > span {
        margin: 0 0.2em;
    }
}
