.abstract {
    font-size: 120%;
    line-height: 140%;
}

.download {
    padding: 0.2em 0;
    float: right;
    text-align: right;
}

.download .latest {
    font-size: 150%;
    color: #333;
}

.download a {
    font-size: 120%;
    font-weight: bold;
}

.download .requirements {
    color: #888;
    font-size: 90%;
}
