.abstract {
    font-size: 120%;
    line-height: 160%;
}

.ccbrowse {
    float: right;
    background: rgb(238, 238, 238);
    padding: 0.4em;
    text-align: center;
    margin-left: 0.2em;
}

.ccbrowse p {
    margin: 0;
}

.ccbrowse a {
    font-weight: bold;
}

.ccbrowse img {
    display: block;
    width: 200px;
    margin-top: 0.5em;
}

.download {
    padding: 0.2em 0;
    float: right;
    text-align: right;
}

.download .latest {
    font-size: 150%;
    color: #333;
}

.download a {
    font-size: 120%;
    font-weight: bold;
}

.download .requirements {
    color: #888;
    font-size: 90%;
}

@media (max-width: 950px) {
    .ccbrowse img {
        width: 130px;
    }
}
