.abstract {
    font-size: 120%;
    line-height: 160%;
}

.ccbrowse {
    float: right;
    background: rgb(238, 238, 238);
    padding: 0.5em;
    text-align: center;
}

.ccbrowse p {
    margin: 0;
}

.ccbrowse a {
    font-weight: bold;
}

.ccbrowse img {
    display: block;
    width: 200px;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.ccbrowse .browsers {
    font-size: 14px;
}

.download {
    padding: 0.2em 0;
    float: right;
    text-align: right;
}

.download .latest {
    font-size: 150%;
    color: #333;
}

.download a {
    font-size: 120%;
    font-weight: bold;
}

.download .requirements {
    color: #888;
    font-size: 90%;
}
