<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% if page.title == '' %}ccplot: CloudSat and CALIPSO plotting tool{% else %}{{ page.title }} ‧ ccplot (CloudSat and CALIPSO plotting tool){% endif %}</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="keywords" content="CloudSat,CALIPSO,CPR,CALIOP,MODIS,plot" />
        <meta name="author" content="Peter Kuma" />
        <meta name="description" content="ccplot is an open source command-line program for plotting profile, layer and earth view data sets from CloudSat, CALIPSO and Aqua MODIS products" />
        <link rel="stylesheet" type="text/css" href="/css/font.css" />
        <link rel="stylesheet" type="text/css" href="/css/ccplot.css" />
        {% for file in page.css %}
            <link rel="stylesheet" type="text/css" href="/css/{{ file }}" />
        {% endfor %}
        {% for header in page.headers %}
            {{ header }}
        {% endfor %}
    </head>
    <body>
        <div id="main">
            <header>
                <a class="heading" href="/">
                    <hgroup>
                            <h1>ccplot</h1>
                            <h2>CloudSat and CALIPSO plotting tool</h2>
                    </hgroup>
                </a>
                <nav class="nav">
                    <span><a href="/">Home</a></span>
                    <span><a href="/features/">Features</a></span>
                    <span><a href="/installation/">Installation</a></span>
                    <span><a href="/doc/">Documentation</a></span>
                    <span><a href="/api/">API</a></span>
                    <span><a href="/ccbrowse/">ccbrowse</a></span>
                    <span><a href="/data/">Data sources</a></span>
                    <span class="github">
                        <a href="https://github.com/peterkuma/ccplot"><img src="/img/github.png" alt="github"></a>
                    </span>
                </nav>
            </header>
            <article>
                {{ content }}
            </article>
            <footer>
                <p>Copyright &copy; 2009–2026 <a href="https://peterkuma.net">Peter Kuma</a></p>
            </footer>
        </div>
    </body>
</html>
