<!DOCTYPE html>
<html>
    <head>
        <title>ccplot ‧ {{ page.title }}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="keywords" content="CloudSat,CALIPSO,CPR,CALIOP,MODIS,plot" />
        <link rel="stylesheet" type="text/css" href="/css/ccplot.css" />
        {% for file in page.css %}
            <link rel="stylesheet" type="text/css" href="/css/{{ file }}" />
        {% endfor %}
        {% for header in page.headers %}
            {{ header }}
        {% endfor %}
    </head>
    <body>
        <div id="main">
            <header>
                <nav class="nav">
                    <div style="float: right">
                        <a href="https://github.com/peterkuma/ccplot"><img src="/img/github.png" alt="github"></a>
                    </div>
                    <a href="/">Home</a>
                    <a href="/features/">Features</a>
                    <a href="/download/">Getting Started</a>
                    <a href="/doc/">Documentation</a>
                    <a href="/api/">API</a>
                    <a href="/data/">Data Sources</a>
                </nav>
                <hgroup>
                    <a href="/">
                        <h1>ccplot</h1>
                        <h2>CloudSat and CALIPSO plotting tool</h2>
                    </a>
                </hgroup>
            </header>
            <article>
                {{ content }}
            </article>
            <footer>
                <p>Developed thanks to data from the respective NASA missions.</p>
                <p>&copy; 2009-2013 Peter Kuma</p>
                <p>
                    Hosted by <strong><a href="http://sourceforge.net">SourceForge</a></strong> &amp;
                    <strong><a href="http://github.com">GitHub</a></strong> 
                </p>
            </footer>
        </div>
    </body>
</html>
