<!DOCTYPE html>
<html>
    <head>
        <title>ccplot ‧ {{ page.title }}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="keywords" content="CloudSat,CALIPSO,CPR,CALIOP,MODIS,plot" />
        <link rel="stylesheet" type="text/css" href="/css/ccplot.css" />
        {% for file in page.css %}
            <link rel="stylesheet" type="text/css" href="/css/{{ file }}" />
        {% endfor %}
        {% for header in page.headers %}
            {{ header }}
        {% endfor %}
    </head>
    <body>
        <div id="main">
            <header>
                <hgroup>
                    <a href="/">
                        <h1>ccplot</h1>
                        <h2>CloudSat and CALIPSO plotting tool</h2>
                    </a>
                </hgroup>
                <nav class="nav">
                    <span><a href="/">Home</a></span>
                    <span><a href="/features/">Features</a></span>
                    <span><a href="/download/">Getting Started</a></span>
                    <span><a href="/doc/">Documentation</a></span>
                    <span><a href="/api/">API</a></span>
                    <span><a href="/data/">Data Sources</a></span>
                    <div class="github">
                        <a href="https://github.com/peterkuma/ccplot"><img src="/img/github.png" width="60" alt="github"></a>
                    </div>
                </nav>
            </header>
            <article>
                {{ content }}
            </article>
            <footer>
                <p>ccplot was developed thanks to data from NASA CloudSat, CALIPSO and MODIS projects.</p>
                <p>Copyright &copy; 2009–2021 <a href="https://peterkuma.net">Peter Kuma</a></p>
                <p>
                    The ccplot project is hosted on <strong><a href="https://sourceforge.net/projects/ccplot/">SourceForge</a></strong> &amp;
                    <strong><a href="https://github.com/peterkuma/ccplot/">GitHub</a></strong>,
                    testing by <strong><a href="https://travis-ci.org/peterkuma/ccplot">Travis CI</a></strong>.
                </p>
            </footer>
        </div>
    </body>
</html>
